<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <link rel="stylesheet" href="/css/navbar.css" />
    <title>Lista de Usuários</title>
    <link rel="stylesheet" href="/css/views.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div th:insert="~{navbar :: navbar}"></div>
    <main>
      <h1>Lista de Usuários</h1>
      <table border="1">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Perfil</th>
            <th>Data de Criação</th>
            <th>Última Localização</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="usuario : ${usuarios}">
            <td th:text="${usuario.id}"></td>
            <td th:text="${usuario.nome}"></td>
            <td th:text="${usuario.email}"></td>
            <td>
              <img
                th:src="@{/files/{perfil}(perfil=${usuario.perfil})}"
                alt="Perfil"
                style="width: 50px; height: 50px; border-radius: 100%"
              />
            </td>
            <td th:text="${usuario.criacao}"></td>
            <td th:text="${usuario.localizacao}"></td>
            <td class="actions">
              <a
                th:href="@{/usuarios/edit/{id}(id=${usuario.id})}"
                title="Editar"
                class="action-icon"
                ><i class="fas fa-edit"></i
              ></a>
              <a
                th:href="@{/usuarios/delete/{id}(id=${usuario.id})}"
                title="Deletar"
                class="action-icon"
                onclick="return confirm('Deseja excluir este usuário?');"
                ><i class="fas fa-trash"></i
              ></a>
            </td>
          </tr>
        </tbody>
      </table>
      <br />
      <a href="/usuarios/create" class="btn-create"
        ><p>Adicionar Novo Usuário</p>
        <i class="fas fa-plus"></i
      ></a>
    </main>
  </body>
</html>
